.grid{
    height: 500px;
    width: 500px;
    border: 10px solid #eac11c;
    display: flex;
    flex-direction: column;
    background-color: white;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #424242;
}
.row{
    display: flex;
}
*{
    font-family: sans-serif;
    color: #fafafa;
}
.controller{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}
button{
    background: none;
    border: 2px solid #eac11c;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 8px;
}